## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Albany,US,42.6001,-73.9662,79.66,53,23,3.02,few clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,44.22,87,75,3.44,broken clouds
2,2,Rikitea,PF,-23.1203,-134.9692,73.98,79,91,13.18,light rain
3,3,Salamiyah,SY,35.0113,37.0532,81.05,30,0,9.95,clear sky
4,4,Mahebourg,MU,-20.4081,57.7000,70.09,83,75,21.85,moderate rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Albany,US,42.6001,-73.9662,79.66,53,23,3.02,few clouds
3,3,Salamiyah,SY,35.0113,37.0532,81.05,30,0,9.95,clear sky
5,5,Vitoria,BR,-20.3194,-40.3378,78.87,69,0,12.66,clear sky
6,6,Sidi Ali,DZ,36.0998,0.4206,77.97,71,2,10.47,clear sky
7,7,Panacan,PH,9.2463,118.4082,81.50,85,100,9.80,overcast clouds
8,8,Pasir Gudang,MY,1.4584,103.8805,84.36,78,75,11.50,broken clouds
9,9,Galle,LK,6.0367,80.2170,79.47,88,71,11.65,broken clouds
11,11,Salamanca,ES,40.8333,-6.0000,82.99,21,0,1.79,clear sky
13,13,Victoria,HK,22.2855,114.1577,86.32,85,100,4.00,overcast clouds
15,15,Teacapan,MX,22.5500,-105.7500,88.03,66,63,7.90,broken clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID            271
City               271
Country            271
Lat                271
Lng                271
Max Temp           271
Humidity           271
Cloudiness         271
Wind Speed         271
Current Weather    271
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID            271
City               271
Country            271
Lat                271
Lng                271
Max Temp           271
Humidity           271
Cloudiness         271
Wind Speed         271
Current Weather    271
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Albany,US,79.66,few clouds,42.6001,-73.9662,
3,Salamiyah,SY,81.05,clear sky,35.0113,37.0532,
5,Vitoria,BR,78.87,clear sky,-20.3194,-40.3378,
6,Sidi Ali,DZ,77.97,clear sky,36.0998,0.4206,
7,Panacan,PH,81.50,overcast clouds,9.2463,118.4082,
8,Pasir Gudang,MY,84.36,broken clouds,1.4584,103.8805,
9,Galle,LK,79.47,broken clouds,6.0367,80.2170,
11,Salamanca,ES,82.99,clear sky,40.8333,-6.0000,
13,Victoria,HK,86.32,overcast clouds,22.2855,114.1577,
15,Teacapan,MX,88.03,broken clouds,22.5500,-105.7500,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
#** 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna(axis=0, how='any')
#clean_hotel_df[hotel_df['Hotel Name'].isnull()]

In [12]:
clean_hotel_df

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,Albany,US,79.66,few clouds,42.6001,-73.9662,
3,Salamiyah,SY,81.05,clear sky,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
5,Vitoria,BR,78.87,clear sky,-20.3194,-40.3378,Hotel Prata
6,Sidi Ali,DZ,77.97,clear sky,36.0998,0.4206,الغابة الترفيهية بورحمة
7,Panacan,PH,81.50,overcast clouds,9.2463,118.4082,Mom's Place Resort
...,...,...,...,...,...,...,...
720,Oistins,BB,75.29,broken clouds,13.0667,-59.5333,Butterfly Beach Hotel
725,Mashhad,IR,77.14,clear sky,36.2970,59.6062,Khanye Sabz Hotel
728,Turayf,SA,86.25,clear sky,31.6725,38.6637,Turaif
729,Rocky Mountain House,CA,75.31,clear sky,52.3668,-114.9188,Walking Eagle Inn & Lodge
732,Sao Jose Da Coroa Grande,BR,78.12,clear sky,-8.8978,-35.1478,Crôa Mares Hotel

In [14]:
clean_hotel_df.notnull().sum()

City               271
Country            271
Max Temp           271
Current Weather    271
Lat                271
Lng                271
Hotel Name         271
dtype: int64

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [48]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))